gitty
gitty.pub
*.o
serverUnix/DataStructures/HashMap/

/structures/binary_tree/cmake-build-debug/
/others/Boost_Asio_Tutorial/cmake-build-debug/
/multiplayerServer/cmake-build-debug/
/LeetCode/cmake-build-debug/
*.cmake
*.txt
*.c
*.yaml
*.bin
*.json


/AudioProject2024-2025/Maximilian
/AudioProject2024-2025/cmake-build-debug
/AudioProject2024-2025/.idea

build

cmake-build-debug

